html {
    background-color: #cad3c5;
  }
  
  body {
    margin: 0 auto;
    width: 100%;
    max-width: 80ch;
    padding: 1rem;
    line-height: 1.5;
    font-family: "Open Sans", sans-serif;
  }

  li{
    padding-bottom: 5px;
  }

  a{
    color: #52796f;
  }