.container {
    margin: auto;
    max-width: 800px;
}

.heading {
    color: gray;
}

.nav-links {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.nav-link-item {
    padding-right: 2rem;
}

.nav-link-text {
    color: black;
}

.static-image{
    margin-bottom: 10px;
}

.site-title {
    font-size: 2rem;
    color: rebeccapurple;
    font-weight: 700;
    margin: 2rem 0;
  }